.agent-accord-container{
    padding: 30px;
    background: #fbfbfb;
    border: 1px solid #eee;
    margin-bottom: 30px;
    padding-bottom: 60px;
    width: 70vw;
    margin: auto;
    position: relative;
    box-shadow: 4px 4px 6px #ddd;
    border-radius: 20px;
}
.agent-accord-search{
    text-align: center;
    width:66vw;
    margin: 20px auto 0;
    padding: 20px 30px;
    border-radius: 6px;
    margin-top: 0px;
    margin-bottom: 30px;
    background: #ecf1fb;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
.agent-accord-search h3{
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    color: #bf3f27;
    text-align: left;
}
.agent-search-box{
    position: relative;
    width: 100%;
    margin: auto;
}
.agent-search-box input{
    width: 20vw;
    height: 20px;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 100px;
}
.agent-search-box a{
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 25px;
    right: 15px;
    top: 8px;
}




@media screen and (max-width: 1023px) and (min-width: 768px){
    .agent-accord-container{
        width: 84vw;
    }
    .agent-accord-search{
        width: 76vw;
    }
}
@media screen and (max-width: 767px) and (min-width: 348px){
    .agent-accord-container{
        width: 78vw;
    }
}