.map-container{
    margin-top: 30px;
}
.map-container iframe{
    width: 100%;
    height: 60vh;
}
@media (max-width:1439px) and (min-width:1024px) {
    .map-container iframe{
       
        height: 35vh;
    }
}
@media (max-width:1023px) and (min-width:768px) {
    .map-container iframe{
       
        height: 30vh;
    }
}
@media (max-width:767px) {
    .map-container iframe{
       
        height: 33vh;
    }
}