*{
    padding: 0;
    margin: 0;
}
/* .works-middle-program{
    border: 1px solid #ddd;
    padding: 30px;
    box-shadow: 3px 7px 12px #ddd;
    margin: 0;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 50px;
    height: 100%;
} */
.program-box{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    padding: 30px;
    box-shadow: 3px 7px 12px #ddd;
    margin: 0;
    position: relative;
    gap: 10px;
    margin-bottom: 0;
    padding-bottom: 50px;
    width: 31vw;
    border-radius: 11px;
}
.content-wrapper{
    display: grid;
    grid-row-gap: 25px;
    width: 69%;

}
.works-middle-program img{
    width: 100px;
    height: 100px;
}
.works-middle-program h2{
    font-size: 23px;
   
    text-transform: capitalize;
    color: #bf3f27;
    font-weight: 600;
   
}
.works-middle-program p{
    font-size: 14px;
  word-spacing: 6px;
  text-align: justify;
    line-height: 1.5;
    letter-spacing: 1.1px;
    color: #505050;
   

}
.own-step-two{
    left: 0;
    border-radius: 0 10px 0 10px;
}.own-step-three{
    left: 0;
    top: 0;
}
.own-step-four{
    top: 0;
    border-radius: 0 10px 0px 10px;
}
.own-step{
    position: absolute;
    right: 0;
    bottom: 0;
    background: #bf3f27;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    padding: 0;
    border-radius: 10px 0px 10px 0px;
    width: 45px;
    height: 45px;
    display: grid;
    align-content: center;
    justify-content: center;
}
.works-middle-programs{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  justify-content: center;

}




@media screen and (max-width: 1439px) and (min-width: 1024px){
    .program-box{
      flex-wrap: nowrap;
      width: 40%;
    }
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .program-box{
       flex-wrap: nowrap;
       width: 35%;
    }
    .content-wrapper{
        grid-row-gap: 5px;
    }
}
@media screen and (max-width: 767px) and (min-width: 425px){
    .program-box{
        width: 80%;
        flex-wrap: nowrap;
      
    }
   
}
@media screen and (max-width: 424px) and (min-width: 375px){
.program-box{
    width: 80%;
    flex-wrap: nowrap;
}


   
}

@media screen and (max-width: 374px) and (min-width: 320px){
    .program-box{
        width: 90%;
        flex-wrap: nowrap;
      
    }
   
} 