.footer-container{
    position: relative;
    top: 40vh;
}
.footer-header{
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20vw;
    background: #3d6c6f;
    color: #fff;
    justify-content: center;
   
    align-items: center;
}
.footer-top-title{
    color: #fff;
    font-weight: 600;
    font-size: 23px;
}
.footer-header-newsletter{
    display: grid;
    grid-template-columns: 400px 149px;
    height: 43px;
    background: #fff;
    border-radius: 100px;
    font-size: 15px;
}
.footer-header-newsletter input{
    border-radius: 100px;
    border: 0;
    padding: 5px 20px;
}
input[type="submit"]{
    text-align: center;
    font-weight: 600;
    background: #bf3f27;
    font-size: 15px;
    color: #fff;
}
.footer-mid{
    background: #315b5e;
    padding: 30px 0;
    gap: 39px;
    justify-content: center;
    display: flex;
}
.footer-mid-col-1 a:hover{
    text-decoration: none !important;
    transition: 0.5s !important;
}
.footer-mid-col-1 a img{
    width: 170px;
    margin-bottom: 10px;
}
.footer-mid-address,.download-section{
    margin-top: 25px;
}
.footer-mid-address h3,.download-section h3{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.footer-mid-address p{
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    /* line-height: 1.5; */
    margin-bottom: 8px;
}
.get-home-app{
    display: flex;
    height: 65.8px;
    grid-column-gap: 15px;
    margin-top: 25px;
}
.get-home-app a{
    text-decoration: none;
    width: 100%;
    display: grid;
    width: 136px;
    border: 1px solid #396164;
    border-radius: 8px;
    padding: 15px 10px;
    position: relative;
    color: #fff;
    background: #285457;
}
.get-home-app a img{
    top: -5px;
    width: 77px;
    height: 25px;
    position: absolute;
}
.get-home-app .download-icon{
    top: 22px;
    width: 47px;
    height: 25px;
    position: absolute;
}
.get-home-app a h2{
    color: #8aa5af;
    font-size: 11px;
    position: relative;
    left: 44px;
    font-weight: 500;
}
.get-home-app a p{
    padding-left: 47px;
    position: absolute;
    top: 25px;
    left: 7px;
    color: #fff;
    font-size: 14px;
}
.footer-mid-col-2{
    width: 21vw;
    display: flex;
    flex-wrap: wrap;
    gap: 71px;
}
.footer-mid-resources{
    margin-bottom: 25px;
}
.footer-mid-address h3,.footer-mid-quick h3,.footer-mid-resources h3,.footer-mid-image h3,.footer-mid-col-3 h3{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.footer-mid-quick>ul,.footer-mid-resources>ul{
    margin-top: 20px;
    padding-left: 0;
    display: block;
    /* text-align: center; */
    width: 100%;
}
.footer-mid-quick>ul>li,.footer-mid-resources>ul>li{
    padding-bottom: 10px;
    display: block;
    margin: 0 0 11px 0;
    font-size: 16px;
    list-style-type: none;
    color: white;
}
label a{
    margin: 0 15px 0 0;
}

label a svg{
    width: 25px;
    height: 25px;
    color: #aaa8a8;
}
.footer-mid-col-3 h3 svg{
    width: 25px;
    height: 25px;
    float: left;
    color: #aaa8a8;
    margin: 1px 13px 0 0;
}
.feed-img{
    background: #fff;
    display: inline-block;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
}
.feed-img img{
    width: 307px;
    height: 200px;
}
.footer-mid-image{
    margin-top: -100px;
}
.footer-bottom-text{
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  border-bottom: 1px solid rgb(161, 161, 161);
}

@media screen and (min-width:768px)and (max-width:1023px) {
    .feed-img>img{
        width: 184px;
    height: 119px;
    }
    .footer-header-newsletter{
        grid-template-columns: 177px 92px;
        height: 35px;
    }
    .footer-header{
        height: 6vh;
    }
    .footer-mid{
        gap: 9px;
    }
    .get-home-app a{
        width: 95px;
    }
    .get-home-app a h2{
        width: 88px;
        height: 51px;
    }
    .get-home-app a p{
        top: 42px;
    }
    .footer-mid-col-2{
        width: 32vw;
        gap: 25px;
    }
    .footer-mid-image{
        margin-top: -41px;
    }
}


@media (max-width: 767px){
    .feed-img img{
        width: 100%;
    }
    .footer-header-newsletter{
        grid-template-columns: 213px 101px;
        height: 35px;

    }
    .footer-header{
        gap: 0;
        height: 11vh;
    }
    .footer-mid{
        flex-direction: column;
        padding: 30px 23px;
    }
    .footer-mid-col-2{
        width: 69vw;
    }
    .footer-mid-image{
        margin-top: -62px;
        width: 90vw;
    }
    .feed-img{
        width: 95%;
       
    }
    .footer-bottom-text{
        height: 42px;
    }
}