.facility-container {
    background: url(../FacilitySection/fac-background.jpg) center top no-repeat;
    background-size: cover;
    margin-top: 40px;
    padding: 30px 0;
    position: relative;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facility-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.facility-heading h1 {
    color: white;
}

.facility-boxes {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 35px;
    text-align: center;
    width: 95%;
    justify-content: center;

}

.facility-box {
   max-height: 20vh;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-row-gap: 20px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 35px 25px;
    border-radius: 15px;
}

.facility-box li {
    list-style-type: none;
    margin-bottom: 20px;
}

.facility-box li h3 {
    font-size: 20px;
    font-weight: 600;
    color: #bf3f27;
}

.facility-box p {
    color: #1c1c1c;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1.1px;
    width: 100%;
    margin-top: -15px;
}

.facility-box li>span img {
    margin-bottom: 15px;
}

@media screen and (max-width: 767px){
    .facility-boxes {
        grid-template-columns: 1fr;

    }
} 